---
Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-init-variables,
  cppcoreguidelines-pro-type-member-init,
  misc-*,
  modernize-use-nullptr,
  performance-*,
  readability-braces-around-statements,
  readability-container-size-empty,
  readability-implicit-bool-conversion,
  readability-isolate-declaration,
  readability-redundant-member-init,
  readability-simplify-boolean-expr,
  -bugprone-easily-swappable-parameters,
  -bugprone-macro-parentheses,
  -cert-err58-cpp,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-macro-usage,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-type-vararg,
  -misc-const-correctness,
  -misc-include-cleaner,
  -misc-no-recursion,
  -misc-use-anonymous-namespace,
  -modernize-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -performance-avoid-endl,
  -readability-identifier-length,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity
WarningsAsErrors: ''
HeaderFilterRegex: 'smallfolk.*\.h'
CheckOptions:
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: 1
